$shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);

@mixin background($url) {
  background-image: url($url);
  background-color: white;
  background-repeat: no-repeat;    
  background-position: center;
}

@mixin position($right, $bottom) {
  position: fixed;
  right: $right;
  bottom: $bottom;
}

@mixin border($radius) {
  border: none;
  border-radius: $radius;
}

.ch-btn {
  cursor: pointer;
  @include position(3%, 5%);
  @include border(45%);
  @include background("../images/mainButton.svg");
  width: 110px;
  height: 110px;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.09);
  filter: drop-shadow(6px 4px 10px rgba(0, 0, 0, 0.09));
  z-index: 50;
}

.ch {
  .ch-sns{
    @include background("../images/SNS.svg");
    @include position(2%, 16.5%);
    @include border(50%);
    width: 60px;
    height: 60px;
    box-shadow: $shadow;
    animation: chShow 1s;
  }

  .ch-profile{
    @include background("../images/profile.svg");
    @include position(5.799999%, 16%);
    @include border(50%);
    width: 90px;
    height: 90px;
    box-shadow: $shadow;
    animation: chShow 1s;
  }

  .ch-message {
    @include background("../images/message.svg");
    @include position(9.33333%, 10%);
    @include border(50%);
    width: 60px;
    height: 60px;
    box-shadow: $shadow;
    animation: chShow 1s;
  }

  .ch-project {
    @include background("../images/project.svg");
    @include position(8.88888%, 2.5%);
    @include border(50%);
    width: 60px;
    height: 60px;
    box-shadow: $shadow;
    animation: chShow 1s;
  }
}

@keyframes chShow {
  from  {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}