*{
  user-select: none;
}
.coverimg{
  position: absolute;width: 100%;height: 100%;
  border-radius: 10px;
}
.p-name{
  color: #ffffff;
  font-weight: bold ;
  background-color: #0000004f;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  top: 2%;
  left: 2%;
}
.teamBox{
  position: absolute;
  left: 13%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 40px;
  width: 50%;
  padding: 5px;
  height: 80%;
  overflow: auto;
}
.teamBox::-webkit-scrollbar {
  width: 16px;
}
.teamBox::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 10px;
  background-clip: padding-box;
}
.teamBox::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.projectBox{
  width: 100%;
  height:35%;
  margin-bottom:40px;

}

.wrap{
  display: flex;
  width: 100%;
  height: 230px;
  overflow-x:auto;
  white-space:nowrap; 
  margin:0 auto;
}
.wrap::-webkit-scrollbar {
  width: 16px;
}
.wrap::-webkit-scrollbar-thumb {
  background-color: #9fbadab2;
  border-radius: 10px;
  background-clip: padding-box;
}
.wrap::-webkit-scrollbar-track {
  background-color: #EFF2F9;
  border-radius: 10px;
}
.p-create{
  display: inline-block;
  justify-content: center;
  width: 180px;
  height: 200px;
  background-color: #EFF2F9;
  border-radius:20px;
  position: relative;
}

.modify_btn{
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.add-team{
  .add-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.tName{
    font-size: 24px;
    font-weight: 600;
    margin: 0px 10px 10px 10px ;
}



.dateBox{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 600px;
  background-color: #EFF2F9;
  border-radius: 20px;
  right: 13%;
}

#link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: #C9E2FF;
  color: #004DA7;
  font-weight:900;
  font-size: 18px;
}

#link:hover{
  color: #4295F5;
  text-decoration: underline
}

.date{  
  position: absolute;
  width: 100%;
  height: 50%;
  color: #004DA7;
  font-weight:bolder;
  font-size: 20px;
}

.now-todo{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 35%;

  h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 30px 0 10px 50px;
  }

  .now-todo-list::-webkit-scrollbar {
    display: none;
  }

  .now-todo-list {
    width: 300px;
    height: 130px;
    margin-left: 50px;
    background: #C9E2FF;
    border-radius: 20px;
    overflow-y: auto;

    .not-todo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .todo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 30px;
        background: #FFFFFF;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: #78B3F9;
      }
    }

    .now-todo-item {
      position: relative;
      width: 261px;
      height: 40px;
      margin: 20px 0 0 20px;
      background: #FFFFFF;
      border-radius: 10px;

      h4 {
        position: absolute;
        padding: 0;
        margin: 11px 0 0 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        color: #004DA7;
      }

      span{
        position:absolute;
        margin: 13px 20px 0 190px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        text-align: right;
        white-space: nowrap;
        color: #C4C4C4;
      }
    }
  }
}
