.deadline-calendar{
  width: 960px;
  height: 775px;
  border-radius: 20px;
  
  .react-calendar__navigation{
    margin-top: 20px;
    padding: 0 45px 0 45px;

    span{
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
    }
  }

  .react-calendar__month-view__weekdays__weekday,
  .react-calendar__month-view__days__day--neighboringMonth{
    color: darkgray !important;
  }
  .react-calendar__month-view__days{
    height: 664px;

    .react-calendar__month-view__days__day--weekend{
      color: black;
    }
  }
}
