header {
  position: fixed;
  width: 100vw;
  height: 100px;
  top: 0;
  background-color: #EFF2F9;
  margin: 0;
  z-index: 50;
  transition: all .5s ease-in;
  .logo{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
  }

  .nav {
    font: {
      family: 'Inter';
      style: normal;
      weight: 400;
      size: 24px;
    };
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #828282;

    .nav-link {
      margin-right: 36px;
    }

    .button-my {
      font-weight: 700;
      border: none;
      color: #4295F5;
    }
    .line {
      width: 1px;
      height: 29px;
      background-color: #828282;
      border-radius: 2px;
      margin-right: 36px;
    }
  }
}

.head-up{
  background-color: rgba( 255, 255, 255, 0.5 );
}
