header {
  position: fixed;
  width: 100vw;
  height: 80px;
  top: 0;
  background-color: #EFF2F9;
  margin: 0;
  z-index: 50;
  transition: all .5s ease-in;
  user-select: none;

  .logo{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
    width: 120px;
  }

  .nav {
    font: {
      family: 'Inter';
      style: normal;
      weight: 400;
      size: 20px;
    };

    position: absolute;
    top: 50%;
    right:13%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #828282;

    .nav-link {
      margin-right: 36px;
    }

    .button-my {
      font-weight: 700;
      border: none;
      color: #4295F5;
    }
    .line {
      width: 1px;
      height: 29px;
      background-color: #828282;
      border-radius: 2px;
      margin-right: 36px;
    }
  }
}

.teamBtn{
  font-size: 18px;
  font-weight: bold;
  width: 140px;
  height: 46px;
  border: none;
  background-color: #4295F5;
  border-radius: 12px;
  color: #fff;
}


.head-up{
  background-color: rgba( 255, 255, 255, 0.5 );
}

.pj-header{
  position: relative !important;
  height: 80px;
  background-color: #C9E2FF;
  h2{
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #4295F5;
  }
}
