*{
  user-select: none;
}

@import "./base/reset.scss";

@mixin position($propertiesTB, $propertiesLR, $tB, $lR) {
  position: absolute;
  #{$propertiesTB}: $tB;
  #{$propertiesLR}: $lR;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.first {
  @include size(100%, 100vh);

  .mainImage {
    @include size(100%, 100%);
    position: relative;
    background-size: cover;
    background-image: url('../images/mainImage.png');
    background-repeat: no-repeat;
    overflow: hidden;

    .mainText1 {
      @include position(top, left, 29%, -23%); // 이동후 13%
      @include size(236px, 77px);
      opacity: 0;
    }

    .mainText2 {
      @include position(top, left, 42%, -23%); // 이동후 13%
      @include size(389px, 106px);
      opacity: 0;
    }

    .startButton {
      @include position(top, left, 60%, 13%);
      @include size(180px, 70px);
      background-image: url('../images/startButton.svg');
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
    }
  }
  
}

.second {
  @include size(100%,100vh);

  .mainBg {
    @include size(100%, 100%);
    position: relative;
    background-color: #D6E9FF;
    overflow: hidden;
    
    .loginImg {
      @include position(top, left, 22%, 15%);
      @include size(400px, 462px);
      border-radius: 20px;
      box-shadow: -80px 80px 0px rgba(66, 149, 245, 0.5);;
    }

    .mainText3 {
      @include position(top, right, 29%, -30%); // 이동후 13%
      @include size(648px, 58px);
      opacity: 0;
    }

    .mainText4 {
      @include position(top, right, 38%, -30%); // 이동후 13%
      @include size(546px, 101px);
      opacity: 0;
    }

    .startButton2 {
      @include position(top, right, 58%, 13%);
      @include size(208px, 78px);
      background-image: url('../images/startButton2.svg');
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
    }
  }
}


.third {
  @include size(100%,100vh);
  .mainBg {
    @include size(100%, 100%);
    position: relative;
    background-color: #D6DAFF;
    overflow: hidden;

    .mainText5 {
      @include position(top, left, 38%, -38%); // 이동후 13%
      @include size(595px, 58px);
      opacity: 0;
    }

    .mainText6 {
      @include position(top, left, 48%, -38%); // 이동후 13%
      @include size(484px, 101px);
      opacity: 0;
    }

    .chListIma {
      @include position(top, right, 20%, 18%);
      @include size(374px, 527px);
      border-radius: 20px;
      box-shadow: 80px 90px 0 rgba(196, 175, 255, 0.5);
    }
  }
}

.fourth {
  @include size(100%,100vh);
  overflow: hidden;
  .mainBg {
    @include size(100%, 100%);
    position: relative;
    background-color: #FFE3E3;
    overflow: hidden;

    .mainText7 {
      @include position(top, right, 10%, 10%); // 이동후 32%
      @include size(694px, 58px);
      opacity: 0;
    }

    .mainText8 {
      @include position(top, right, 18%, 70%); // 이동후 35%
      @include size(571px, 102px);
      opacity: 0;
    }

    .calenderImg {
      @include position(top, left, 45%, 28%);
      @include size(458px, 372px);
      border-radius: 30px;
      box-shadow: -50px -50px 0 rgba(250, 137, 123, 0.5);;
    }

    .termImg {
      @include position(top, right, 45%, 22%);
      @include size(349px, 373px);
      
      border-radius: 30px;
      box-shadow: -50px -50px 0 rgba(250, 137, 123, 0.5);;
    }
  }
}