.h1Box{
  position: relative;
  top: 12%;
  left: 19%;
  width: 129px;

  h1 {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
}

.profile{
  position: relative;
  top: 13%;
  width: 100vw;
  display: flex;
  justify-content: center;

  .profileBox{
    position: relative;
    width: 1169px;
    height: 744px;
    background: #FFFFFF;
    border: 2px solid #4295F5;
    border-radius: 20px;

    .profileImg{
      position: absolute;
      width: 166px;
      height: 166px;
      top: 100px;
      left: 60px;
    }

    .inputarea {
      position: absolute;
      width: 578px;
      height: 452px;
      left: 304px;
      top: 70px;
    }
  }
}