.promain{
  position: absolute;
  border-radius: 10px;
  top: 14%;
  right: 13%;
  width: 46%;
  height: 750px;
  overflow-y: auto;
}

.proiteam{
  position: relative;
  padding: 20px;
  background-color: #EFF2F9;
  border-radius: 15px;
  width: 94%;
  margin-bottom: 30px;
  height: 140px;
}

.probox{
  display: flex;
  align-items: center;
}

.proName{
  margin-right: 10px;
}

.color{
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: aqua;
}

.proP{
  position: absolute;
  bottom:20%
}


.promain::-webkit-scrollbar {
  width: 16px;
}
.promain::-webkit-scrollbar-thumb {
  background-color: #004DA780;
  border-radius: 10px;
  background-clip: padding-box;
}
.promain::-webkit-scrollbar-track {
  background-color: #EFF2F9;
  border-radius: 16px;
}

.total-wrap {
  position: absolute;
  top: 14%;
  right: 2%;
  
  width: 120px;
  height: 120px;

  background-color: #EFF2F9;
  border-radius: 15px;
}