.go{
  position: absolute;
  top: 14%;
  right: 13%;
  width: 46%;
}

.iBox{
  display: flex;
  position: absolute;
  right: 13%;
  top: 58%;
  justify-content: flex-end;
}

.feed{
  width: 52%;
}

.lineImg{
  width: 34%;
}

.space{
  width: 48px;
}