.todoBox{
  position: absolute;
  top: 60%;
  left: 13%;
  transform: translateY(-58%);
  width: 22%;
  height: 700px;
  padding: 20px;
  border-radius: 30px;
  background: #EFF2F9;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2{
  font-size: 24px;
  font-weight: 900;
  color:#004DA7;
  ;
}