.h1Box{
  position: relative;
  top: 12%;
  left: 19%;
  width: 129px;

  h1 {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
}

.tName{
  font-weight: 700;
  font-size: 26px;
  color: #004DA7;
  padding: 10px;
}

.team{
  position: relative;
  top: 13%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.TeamBox{
  position: absolute;
  width: 64%;
  height: 744px;
  border: 2px solid #4295F5;
  border-radius: 20px;
}

h3{
  font:{
    size: 20px;
    weight: 700;
  }
    color: #004DA7;
    padding: 10px;
}
