.after-left{
    left: 13% !important;
    opacity: 1 !important;
    transition: all 1.5s;
}

.after-right{
    right: 13% !important;
    opacity: 1 !important;
    transition: all 1.5s;
}

.after-mid1{
    right: 32% !important;
    opacity: 1 !important;
    transition: all 1.5s;
}

.after-mid2{
    right: 35% !important;
    opacity: 1 !important;
    transition: all 1.5s;
}